body {
  background-color: #efefefef;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
header h1 {
  font-size: 28px;
}

main {
  padding: 20px;
}

section ul {
  list-style: none;
}

section li {
  padding: 0.5em;
}

section li a {
  color: #333;
}
